<layout name="layout"/>
<div class="admin-content container" style="min-height: 500px">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" >
            <a href="__URL__/repulse/planid/<{$planid}>" class="">提测打回 </a>
        </li>
        <li role="presentation" class="active">
            <a href="__URL__/unsubm/planid/<{$planid}>" class="">未按时提测 </a>
        </li>
        <li role="presentation" >
            <a href="__URL__/warning/planid/<{$planid}>" class="">项目延期 </a>
        </li>
    </ul>

    <div class="panel panel-info">
        <empty name="data">
            <form action="__URL__/insert" method="post" class="form-horizontal" role="form">
                <input type="hidden" name="planid" value="<{$planid}>"/>
                <input type="hidden" name="subject" value="<{$subject}>"/>
                <input type="hidden" name="sn" value="1"/>
                <input type="hidden" name="type" value="2"/>
                <input type="hidden" name="priority" value="3"/>
                <input type="hidden" name="table" value="tp_risk"/>
                <div class="form-group">
                    <label class="col-sm-1 control-label">发送给:</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" name="mailto" value="<{$sendTo}>" placeholder="收件人邮件">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">抄送给:</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" name="cc" value="<{$cc}>" placeholder="抄送人邮件">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">主题:</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" value="<{$subject}>" placeholder="主题" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">正文:</label>
                    <div class="col-sm-11"><{$body}></div>
                </div>
                <div class="modal-footer">
                    <a href="__URL__/index/tp/<{$planid}>" type="button" class="btn btn-default" >返回</a>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
            <else />
            <switch name="data.mod">
                <case value="2">
                    <form action="__URL__/update" method="post" class="form-horizontal" role="form">
                        <input type="hidden" name="id" value="<{$data.id}>"/>
                        <input type="hidden" name="mod" value="1"/>
                        <input type="hidden" name="table" value="tp_risk"/>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">发送给:</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control" name="mailto" value="<{$sendTo}>" placeholder="收件人邮件">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">抄送给:</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control" name="cc" value="<{$cc}>" placeholder="抄送人邮件">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">主题:</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control" value="<{$subject}>" placeholder="主题" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">正文:</label>
                            <div class="col-sm-11"><{$body}></div>
                        </div>
                        <div class="modal-footer">
                            <a href="__URL__/index/tp/<{$planid}>" type="button" class="btn btn-default" >返回</a>
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </form>
                </case>
                <case value="1">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="mailto:<{$sendTo}>" class="form-horizontal">
                                <br />
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">发送给:</label>
                                    <div class="col-sm-11">
                                        <input type="text" class="form-control" name="mailto" value="<{$data.mailto}>" placeholder="收件人邮件" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">抄送给:</label>
                                    <div class="col-sm-11">
                                        <input type="text" class="form-control"  name="cc" value="<{$data.cc}>" placeholder="抄送人邮件" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">主题:</label>
                                    <div class="col-sm-11">
                                        <input type="text" class="form-control"  name='subject' value="<{$data.subject}>" placeholder="主题" readonly >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">正文:</label>
                                    <div class="col-sm-11">
                                        <{$body}>
                                        <span class="help-block"><small><b>请不要在此页面进行修改，如果确实需要修改请点击【编辑】后，才可以保存成功</b></small></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="__URL__/mod/id/<{$data.id}>" type="button" class="btn btn-primary" >编辑</a>
                                    <button type="submit" class="btn btn-primary" >发送</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </case>
            </switch>
        </empty>
    </div>
</div>