<layout name="layout"/>
<script src="https://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<div class="am-cf admin-main">
    <div class="admin-content container-fluid" style="min-height: 650px">
        <ul class=" am-avg-lg-12 gallery-list">
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs" src="__UPLOAD__<{$data.img}>" alt=""/>
                    <div class="gallery-desc"><{$data.desc}></div>
                </a>
            </li>
        </ul>
        <div class="container">
            <h1><{$data.title}></h1>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzU5OTcyNDcxNw==&scene=124#wechat_redirect" class="am-text-left">金瑞恒升</a>
            <p><{$data.content}></p>
            <p class="am-text-left">阅读(<{$data.clicknum}>)
                <span class="pull-right"><{$data.utime}></span>
            </p>

            <h2>UV统计表（这个以后会迁移至后台页面）</h2>
            <table class="am-table am-table-striped am-table-hover table-main table-bordered">
                <thead>
                <tr>
                    <th class="table-date" bgcolor="#ccc">日期</th>
                    <th class="table-type" bgcolor="#ccc">微信用户</th>
                    <th class="table-type" bgcolor="#ccc">openid</th>
                </tr>
                </thead>
                <tbody>
                <volist name='uv' id='vo' empty="没有数据">
                    <tr>
                        <td><{$vo.access_date}></td>
                        <td><{$vo.customer_third_id|getName='customer_third_party',###,'nickname'}></td>
                        <td><{$vo.customer_third_id|getName='customer_third_party',###,'openid'}></td>
                    </tr>
                </volist>
                </tbody>
            </table>


        </div>
    </div>
</div>

