<layout name="layout"/>
<div class="admin-content container" style="min-height: 500px">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">导航</strong> / <small>网站样式</small></div>
    </div>

    <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">
        <volist name='data' id='st' empty="没有数据">
            <li>
                <div class="thumbnail">
                    <a href="<{$st.moudle}>" target="_blank">
                        <img class="am-img-thumbnail am-img-bdrs" height="100" width="200"
                             src="<{$st.img}>" />
                    </a>
                    <div class="caption">
                        <h3 title="#">
                            <span><a href="<{$st.moudle}>" target="_blank"><{$st.name}></a></span>
                            <span class="pull-right"><a href="<{$st.admin}>" target="_blank">后台</a></span>
                        </h3>
                    </div>
                </div>
            </li>
        </volist>
    </ul>
</div>
