<layout name="layout"/>
<div class="admin-content container" style="min-height: 500px">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
            <a href="__URL__/index/project/<{$Think.cookie.Jira_project}>">进行中</a>
        </li>
        <if condition="$_SESSION['project'] eq 10006 ">
            <li role="presentation" >
                <a href="__URL__/pending">分派</a>
            </li>
            <li role="presentation">
                <a href="__URL__/started/type/assigned/project/<{$Think.cookie.Jira_project}>">未开始</a>
            </li>
            <if condition="$_SESSION['user'] eq 'ylh' ">
                <li role="presentation" >
                    <a href="__URL__/add">添加</a>
                </li>
            </if>
            <else/>
            <li role="presentation">
                <a href="__URL__/assigned/type/assigned/project/<{$Think.cookie.Jira_project}>">待处理</a>
            </li>
        </if>
    </ul>
    <div class="panel panel-default" style="min-height: 350px">
        <div class="row">
            <div class="col-md-6">
                <form action="__URL__/supple" method="post" class="form-horizontal" role="form">
                    <br>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">任务Key:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="pkey" value="" placeholder="例如：CX-24">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">分组:</label>
                        <div class="col-sm-10"><{$pgroup}></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态:</label>
                        <div class="col-sm-10"><{$ststus}></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>