<layout name="layout"/>
<div class="admin-content container" style="min-height: 500px">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">迭代-需求&任务</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">项目：<{$pname}>
                            <span class="am-icon-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <volist name='projectList' id='pro'>
                                <li><a href="__URL__/pending/project/<{$pro.key}>"><{$pro.value}></a></li>
                            </volist>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <empty name="draw">全部<else /> 负责人：<{$draw|getJiraName=###}></empty>
                            <span class="am-icon-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="__URL__/pending">全部</a></li>
                            <volist name='user' id='vo'>
                                <li><a href="__URL__/pending/draw/<{$vo}>"><{$vo|getJiraName=###}></a></li>
                            </volist>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <form action="__URL__/pending " method="post" class="navbar-form navbar-left" role="search">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" name="search" value="<{$search}>"
                                   placeholder="名称、关键字">
                            <input type="hidden"  name="project" value="<{$project}>">
                            <input type="hidden"  name="draw" value="<{$draw}>">
                            <span class="input-group-btn">
                                 <button type="submit" class="btn btn-default">
                                     <span class="glyphicon glyphicon-search"></span>
                                 </button>
                                <button type="button" data-toggle="modal" href="#tianj" class=" btn btn-success">
                                    添加
                                </button>
                            </span>
                        </div>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
            <a href="__URL__/index/project/<{$project}>">进行中</a>
        </li>
        <li role="presentation" class="active">
            <a href="__URL__/pending">分派 &nbsp;<span class="badge"><{$data|sizeof=###}></span></a>
        </li>
        <li role="presentation">
            <a href="__URL__/started/project/<{$project}>">未开始</a>
        </li>

    </ul>
    <div class="panel panel-default" style="min-height: 350px">
        <div class="row">
            <div class="col-md-9">
                <empty name="data">
                    <br><br>
                        <img src="__IMG__/wao.jpg" class="img-responsive center-block" alt="error">
                        <h1 class="text-center">暂时没有可分派的任务</h1>
                    <else/>
                        <volist name='data' id='da' empty="没有数据">
                            <switch name="da.status">
                                <case value="0"><div class="panel panel-info"></case>
                                <case value="1"><div class="panel panel-success"></case>
                                <case value="2"><div class="panel panel-warning"></case>
                            </switch>
                            <div class="panel-heading">
                                <a href="http://jira.zhidaohulian.com/browse/<{$da.pkey}>" target="_blank">【<{$da.pkey}>】:</a>
                                <span class="badge"><{$da.issuestatus|getName='issuestatus',###,'pname'}></span>
                                <small>
                                    【<{$da.issuetype|getName='issuetype',###,'pname'}>】<{$da.pname}>
                                    (<{$da.pgroup|getDictValue='test_group',###}>)
                                </small>

                                【<empty name="da.draw">待分派<else />
                                    <{$da.draw|getJiraName=###}>
                                    <notempty name="editable2">
                                        <span class="dropdown">
                                            <button class="btn btn-link btn-xs dropdown-toggle" type="button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <small>更换</small>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <volist name='user' id='vo' empty="没有数据">
                                                     <li><a href="__URL__/huanren/id/<{$da.id}>/user/<{$vo}>"><{$vo|getJiraName=###}></a></li>
                                                </volist>
                                            </ul>
                                        </span>
                                    </notempty>
                                </empty>】

                                <if condition="$da.status eq 0">
                                        <notempty name="editable2">
                                            <a href="__URL__/done/id/<{$da.id}>/pkey/<{$da.pkey}>" class="btn btn-success btn-xs">完成</a>
                                            <a href="__URL__/cheHui/id/<{$da.id}>" class="btn btn-danger btn-xs">撤回</a>
                                        </notempty>
                                        <empty name="da.draw">
                                                <notempty name="editable2">
                                                &nbsp;&nbsp;<b>指派给：</b><{$da.id|zhipai=###}>
                                                </notempty>
                                            <else />
                                                <notempty name="editable2">
                                                    <a data-toggle="modal" href="#tianjRenyuan" id="<{$da.id}>"
                                                       class="btn btn-primary btn-xs" onclick="mod(this.id)">添加</a>
                                                </notempty>
                                        </empty>
                                    <else />
                                        <notempty name="editable2">
                                            <a href="__URL__/jieshu/id/<{$da.id}>" class="btn btn-info btn-xs">结束</a>
                                        </notempty>
                                </if>
                                <span class="badge pull-right">
                                <switch name="da.status">
                                    <case value="0">进行中</case>
                                    <case value="1">已完成</case>
                                    <case value="2">待考核</case>
                                </switch>
                            </span>
                            </div>
                            <div class="panel-body">
                                <notempty name="da.description">
                                    <div class="well well-sm"><{$da.description}></div>
                                </notempty>
                                <{$da.id|drawInfo=###}>
                            </div>
                    </div>
                        </volist>
                </empty>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">测试分组</div>
                    <ul class="list-group">
                        <volist name='group' id='vo' empty="没有数据">
                            <switch name="vo.test_group">
                                <case value="0">
                                    <li class="list-group-item list-group-item-warning">
                                </case>
                                <case value="1">
                                    <li class="list-group-item list-group-item-info">
                                </case>
                                <case value="2">
                                    <li class="list-group-item">
                                </case>
                                <case value="3">
                                    <li class="list-group-item list-group-item-warning">
                                </case>
                                <case value="4">
                                    <li class="list-group-item list-group-item-info">
                                </case>
                                <case value="5">
                                    <li class="list-group-item ">
                                </case>
                            </switch>
                                <small>
                                    【<{$vo.test_group|getDictValue='test_group',###}>】
                                    <span class="pull-right"><{$vo.name|getJiraName=###}></span>
                                </small>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
    </div>
</div>





<div class="modal fade " id="tianj" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form action="__URL__/supple" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">任务Key:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="pkey" value="" placeholder="例如：CX-24">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分组:</label>
                            <div class="col-sm-10"><{$pgroup}></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态:</label>
                            <div class="col-sm-10"><{$ststus}></div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function mod(id) {
        // alert(id)
        $.ajax({
            type: "GET",
            url: "__URL__/pendingInfo",
            data: {id: id},
            dataType: "json",
            success: function (ss) {
                // alert(ss.result.name);
                $("#mod_id").val(ss.result.id);
                $("#name").empty().append(ss.result.name);
            }
        })
    }
</script>
<div class="modal fade " id="tianjRenyuan" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form action="__URL__/assigne" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" >添加人员</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="project" id="mod_id" value=""/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">人员:</label>
                        <div class="col-sm-10" id="name"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">角色:</label>
                        <div class="col-sm-10"><{$role}></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
