<layout name="layout"/>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>产品质量平台  <small>  登录</small></h3>
        <hr>
        <h1><img src="__IMG__/mogu.png"></h1>
        <form method="post" action="__URL__/login" class="am-form">
            <label >用户名</label>
            <input type="text" name="username" value="" placeholder="账号"><br>
            <label >密码:</label>
            <input type="password" name="password" value="" placeholder="密码"><br>
            <br/>
            <div class="am-cf">
                <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-block am-fl">
                <!--  <input type="submit" name="" value="忘记密码 ^_^? " class="am-btn am-btn-Amaze am-btn-sm am-fr"> -->
            </div>
        </form>
    </div>
</div>
