<layout name="layout"/>
<div class="admin-content" style="min-height: 500px">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">性能测试被测接口
                            <span class="badge"> <{$api|sizeof=###}></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <{$branch|getName='eo_project',###,'projectname'}>
                            <span class="badge"><{$branch|countWithParent='eo_api','projectID',###}></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <volist name="project" id="vo">
                                <li>
                                <a href="__URL__/choice_api/tp/<{$tp}>/branch/<{$vo}>/source/<{$source}>">
                                    <{$vo|getName='eo_project',###,'projectname'}>
                                    <span class="badge pull-right"><{$vo|countWithParent='eo_api','projectID',###}></span>
                                </a>
                                </li>
                            </volist>
                            <li><a href="__URL__/choice_api/tp/<{$tp}>"><small>全部</small></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form action="__SELF__" method="post" class="navbar-form navbar-left" role="search">
                        <div class="form-group input-group pull-right">
                            <input type="text" class="form-control" name="search" value="<{$search}>"
                                   placeholder="接口名称、接口URI">
                            <input type="hidden" name="branch" value="<{$branch}>"/>
                            <input type="hidden" name="source" value="<{$source}>"/>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <li><a href="__URL__/<{$source}>/tp/<{$tp}>">返回</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10">接口名称(URL)</div>
                        <div class="col-md-2"><span class="pull-right">操作</span></div>
                    </div>
                </div>
                <ul class="list-group">
                    <volist name='api' id='st' empty="没有数据">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <small><{$st.api|getName='eo_api',###,'apiname'}>(<{$st.api|getName='eo_api',###,'apiuri'}>)</small>
                                </div>
                                <div class="col-md-2">
                                    <a href="__URL__/cheXiao/id/<{$st.id}>"><span class="pull-right">撤销</span></a>
                                </div>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10"><span class="label label-success">性能(Y/N)</span>接口名称(URL)</div>
                        <div class="col-md-2"><span class="pull-right">操作</span></div>
                    </div>
                </div>
                <ul class="list-group">
                    <volist name='data' id='st' empty="没有数据">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <switch name="st.pressure">
                                        <case value="1"><span class="label label-success">性能(Y)</span></case>
                                        <case value="0"><span class="label label-warning">性能(N)</span></case>
                                    </switch>
                                    <small><{$st.apiname}>(<{$st.apiuri}>)</small>
                                </div>
                                <div class="col-md-2">
                                    <a href="__URL__/jiaRu/api/<{$st.apiid}>/planid/<{$tp}>/source/<{$source}>">
                                        <span class="pull-right">加入</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>

    </div>
</div>